html {
  background-image: url(https://upload.wikimedia.org/wikipedia/en/b/bb/Graduated_Blue_Background.png);
   background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  height: 100%;
}

form-box{
  margin-top: 20px;
}
.random{
  margin-top: 50px;
}
.a1{
  font-size: 1.2em;
}
.display{
  border-width:1px;
  border-style: groove;
  border-color: #ccf;
  border-radius: 3px;
  padding:10px 20px 10px 20px;
  margin: 1px 10px 1px 10px;
}
h3{
  padding:10px 20px 10px 20px;
  margin: 50px 10px 10px 10px;
}
h4{
  margin-bottom: 0px;
}
.container{
  padding-top: 25%;
  text-align: center; 
}
.foot{
  margin-top:100px;
}

.grab-article {
    background-image: url("http://www.lg15.com/lgpedia/images/7/78/Wikipedia-logo-small.png");
 border: 0;  
 height: 128px;
  width: 128px;
  text-align: center;
  background-color: transparent;
  margin-top: 10px;
}

@-webkit-keyframes Rotate
{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes Rotate
{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-ms-keyframes spinnerRotate
{
    from{-ms-transform:rotate(0deg);}
    to{-ms-transform:rotate(360deg);}
}
.grab-article{
    -webkit-animation-name: Rotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: Rotate;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: Rotate;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}